# CDK Parameters
TARGET_REGION=us-west-2
MAIN_STACK_NAME=distributed-load-testing-on-aws # from distributed-load-test-on-aws.ts
REGIONAL_STACK_NAME=distributed-load-testing-on-aws-regional # from distributed-load-test-on-aws.ts

# Stack Parameters
ADMIN_NAME=username_no_spaces
ADMIN_EMAIL=email@example.com

# Deployed Stack Parameters
DLT_CONSOLE_BUCKET=change_me_after_deployment
