body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  /*font-size: 1rem; */
  font-size: 90%;
  font-family: "Amazon Ember", "Helvetica", sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
}

#logo {
  vertical-align: middle;
  margin-right: 0.5rem;
}

/******* Reactstrap Overrides ********/
.bg-dark {
  background-color: #31465f !important;
}

.nav-link {
  font-size: 0.9rem;
  text-transform: uppercase !important;
  cursor: pointer;
}

.nav-link:hover {
  color: #ff9900 !important;
}

.tab-content {
  background-color: #fff !important;
  padding-top: 1rem !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #dee2e6;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

/******* Div ********/
.main {
  margin: 5rem auto;
  padding: 1rem;
}

.welcome {
  text-align: center;
  border-radius: 2px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0.7rem;
}

.box {
  min-height: 3.8rem;
  border-radius: 2px;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 1.5rem;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: hidden;
}

.footer {
  text-align: center;
  border-radius: 2px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0.7rem;
}

.create-box {
  height: 100%;
}

.info > .popover {
  max-width: 80%;
}

.info > .PopoverBody {
  margin: 1rem;
}

/******* Misc ********/
h1 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #31465f;
  margin: 0;
  display: inline-block;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #31465f;
  margin: 1rem 0 1rem 0;
  padding-bottom: 1rem;
  display: inline-block;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
  color: #31465f;
  margin: 1rem 0 1rem 0;
  display: inline-block;
}

a {
  color: #31465f;
}

a:hover {
  color: #ff9900;
}

span {
  margin-left: 0.75rem;
}

.console {
  margin-top: 1rem;
  font-size: 1rem;
}

.note {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
}

.text-link {
  color: #00a1c9;
  font-weight: 400;
  cursor: pointer;
}

.history-link {
  width: fit-content;
}

.history-link:hover {
  text-decoration: underline;
}

th {
  color: #31465f !important;
  font-weight: 400 !important;
  border-bottom: 1px solid #e1e4ea !important;
}

td {
  border-bottom: 1px solid #e1e4ea !important;
}

.td-center {
  text-align: center;
}

.rowActive {
  background-color: #bbd4dd;
}

.complete {
  color: #008000;
  text-transform: uppercase;
}

.running {
  color: #ff9900;
  text-transform: uppercase;
}

.cancelled {
  color: #dc3545;
  text-transform: uppercase;
}

.cancelling {
  color: #ee6723;
  text-transform: uppercase;
}

.recurrence {
  text-transform: uppercase;
}

.warning {
  text-align: center;
  color: #dc3545;
  font-weight: 400;
  font-size: 1.1rem;
}

.failed {
  color: #dc3545;
  text-transform: uppercase;
}

.scheduled {
  color: #53c9ed;
  text-transform: uppercase;
}

.RUNNING {
  color: #008000;
  text-transform: uppercase;
}

.PENDING {
  color: #ffc46d;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #ff9900 !important;
}

.btn-secondary:hover,
.btn-danger:hover {
  background-color: #31465f !important;
}

.btn-secondary,
.btn-danger {
  color: #fff;
  width: 6rem;
  float: right;
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  border: 0 !important;
}

.auto-refresh {
  float: right;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.auto-refresh-label {
  text-align: center;
}

.form-switch .form-check-input {
  border-color: #ff9900;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,153,0,1)'/></svg>");
}

.form-switch .form-check-input:focus {
  border-color: #ff9900;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,153,0,1'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: #ff9900;
  border-color: #ff9900;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.interval-button {
  float: right;
}

.header-banner {
  overflow: visible;
}

.submit {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-link {
  color: #ff9900 !important;
  margin-bottom: 0.5rem;
}

.btn-link:hover {
  color: #31465f !important;
  text-decoration: none;
}

.btn-link-custom {
  padding: 0;
  margin-bottom: 0;
  font-size: 90%;
  font-family: "Amazon Ember", "Helvetica", sans-serif;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.35;
  background-color: #31465f !important;
}

.text-secondary {
  color: #ff9900 !important;
}

.desc {
  max-width: 20rem;
  margin-top: 0.5rem;
}

.desc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desc li {
  margin: 1rem 0;
}

.form-short {
  display: block;
  width: 20%;
}

.exceeding-resources-warning {
  padding: 0.25rem;
  border: 2px dashed #ff9900;
}

.available-tasks-card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.available-tasks-card-header {
  padding: 0.25rem;
}

.available-tasks-table {
  margin: 0;
}

.available-tasks-table-icon {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.input-group-short {
  width: 50%;
}

img {
  width: 85%;
  display: block;
  margin: 0.5rem 0 0 1rem;
}

.result {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid #ff9900;
}

.result p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #31465f;
}

.error {
  border-left: 0.25rem solid #dc3545;
}

.detail {
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.detail-col {
  color: #ff9900 !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.custom-tab {
  cursor: pointer;
}

.custom-tab.active {
  background-color: #ff9900 !important;
  border: none;
}

.custom-tab.active:hover {
  color: #ffffff !important;
}

.regional-stack-row {
  border-style: dashed;
  border-width: 1px;
  text-align: left;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.regional-stack-button,
.total-graph-button {
  display: inline;
  color: link;
  font-size: 0.9rem;
  margin: 0 !important;
  padding: 0 !important;
}

.regional-cf-link {
  color: #00a1c9;
  font-weight: 300;
  font-size: 0.9rem;
  display: inline;
}

.available-regions-title {
  border-bottom: 1px solid #e1e4ea;
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.available-regions-list {
  margin: 0 0.5rem 0 0.5rem;
  flex-wrap: wrap;
  justify-content: left;
}

.available-region-item {
  margin: 0.5rem;
  border: 0;
}

.regional-config-input-row {
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.regional-config-button-row {
  flex-wrap: nowrap;
}

.regional-config-button {
  font-size: 1rem;
}

.icon-large {
  font-size: 1.25rem;
}

.inline-label-right {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.inline-label-left {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.schedule-date-time {
  align-items: center;
}

#scheduleDate {
  margin-right: 0.5rem;
}

.schedule-tab-content {
  margin-bottom: 1rem;
}

.total-graph-directions {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: solid 1px;
}

.total-graph-directions-list {
  margin-top: 1rem;
  list-style-position: inside;
  text-align: left;
  margin-left: 7rem;
  margin-right: 7rem;
}

.total-graph-directions-link {
  padding: 0;
  font-size: inherit;
  vertical-align: inherit;
}

.chart-container-div {
  width: 50%;
}

/********** @media *********/

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem !important;
  }

  .btn {
    width: 3.5rem;
    font-size: 0.5rem;
    margin: 0.1rem;
  }

  .dashboard thead tr th:nth-child(2),
  .dashboard tbody tr td:nth-child(2),
  .dashboard thead tr th:nth-child(3),
  .dashboard tbody tr td:nth-child(3) {
    display: none;
  }

  .main {
    margin: 5rem auto;
    padding: 0.2rem;
    width: 100%;
  }

  .box {
    padding: 1rem;
  }

  img {
    width: 98%;
    display: block;
    margin: 0;
  }

  .result p {
    font-size: 1rem;
    font-weight: 600;
  }
}
